$blue: #157ae3;
$grey: #e5e5ea;
$black: #151515;
@font-face {
  font-family: 'Ampersand';
  src: local('Georgia');
  unicode-range: U+26;
}

* {
  transition: all 0.2s;
  box-sizing: border-box;
  margin: 0;

  :focus {
    background: yellow;
    transform: scale(1.1, 1.1);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.25), 0 0.6rem 0.6rem rgba(0,0,0,0.22);

    &::after {
      content: "\2190";
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-left: 0.2em;
      margin-right: 0.2em;
      line-height: 0.65;
    }
  }
}

body {
  padding: 1rem;
  font-family: 'Ampersand', 'Open Sans';
  background-color: rgba(255, 127, 80, 0.5);
  margin: 0;
  display: block;

  h1,
  h2,
  legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem;
  }

  nav {
    padding: 1em 0;
    max-width: 40em;

    ul {
      display: grid;
      padding: 0;
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-evenly;
      text-align: center;

      li {
        list-style-type: none;
        padding: 0;
        margin-top: 1.5rem;

        &+li {
          &:focus-within > ul {
            display: block;

            > li {
              margin-top: 0.5rem;
            }
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    input {
      border-color: #000;
      padding: 0.20em 0.5em;
      font-size: 1em;
      z-index: 2;
      height: 2rem;
    }

    input[type=email] {
      &+label:nth-of-type(2) {
        margin-top: 1rem;
      }
    }

    input:focus {
      transform: scale(1.01, 1.01);
    }

    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      align-self: flex-end;
    }

    input[type="checkbox"] + label::before {
      content: '\a0';
      margin-top: 1rem;
      display: inline-block;
      vertical-align: 0.2em;
      width: 0.8em;
      height: 0.8em;
      margin-right: 0.2em;
      border-radius: 0.2em;
      background: white;
      text-indent: 0.15em;
      line-height: 0.65;
      border-color: #000;
    }

    input[type="checkbox"]:checked + label::before {
      content: '\2714';
      background: lightblue;
    }

    input[type="checkbox"]:focus + label::before {
      box-shadow: 0 0 0.05em 0.05em #58a;
      background-color: yellow;
    }

    label:nth-of-type(3) {
      text-align: right;
    }

    button {
      width: 6rem;
      height: 2.5rem;
      display: block;
      font-size: 1rem;
      font-family: 'Open Sans';
      margin: 1rem auto 0;
      border-radius: 1.5rem;
      background-color: $black;
      border: 0.2rem solid white;
      color: white;
      font-weight: bold;
    }
  }

  a {
    color: blue;
  }

  > section {
    background-color: white;
  }

  section {
    padding: 3rem;

    h1 {
      font-family: 'Ampersand', 'Helvetica', sans-serif;
    }

    article {
      > h1 {
        margin-top: 0;
      }

      img {
        width: calc(100% + 6rem);
        margin: -3rem -3rem 0;

        &+ h1 {
          margin-top: 1rem;
        }
      }

      h1 {
        &+figure > img {
          margin-top: 0;
        }
      }

      figcaption {
        font-style: italic;

        p {
          margin-top: 2rem;
        }
      }

      footer {
        text-align: center;
        font-size: 0.9rem;
        color: #444;
        margin-top: 2rem;

        a {
          color: inherit;
        }
      }
    }
  }

  fieldset {
    border: 0;

    input {
      position: absolute;
      // left: -999rem;
      // opacity: 0;
    }

    label {
      display: inline-block;
      width: 6rem;
    }
  }

  fieldset {
    border: none;
    padding: 1.5rem;

    div {
      border: 1px solid white;
      margin: 0 auto;
      //font-size: 0.8rem;
      width: 23%;
      display: inline-block;

      label {
        position: relative;

        svg {
          width: 90%;
          display: block;
        }
      }
    }
  }

  input[type=radio] {
    &+label {
      margin-top: 1rem;
      color: green;
    }
  }

  main {
    grid-gap: 1.5rem;

    section {
      border: 0.5rem solid rgb(128, 128, 128);

      nav {
        padding: 0;

        progress {
          width: 100%;
        }

        ol {
          padding: 0;
          list-style-type: none;
          margin: 0;

          li {
            margin-top: 0.6rem;
          }
        }
      }

      > ol {
        list-style-type: none;
        padding: 0;

        li {
          padding: 0.5rem 1rem;
          margin: 1rem 0;
          border-radius: 0.5em;
          width: 80%;
        }

        li:nth-of-type(odd) {
          background-color: $blue;
          text-align: right;
          color: white;
          margin-left: 19%;
        }

        li:nth-of-type(even) {
          background-color: $grey;
          color: black;
        }

        footer {
          font-style: italic;
          font-size: 0.7rem;
        }

        &+ form {
          border-top: 0.2rem solid black;
        }
      }

      form {
        margin-top: 1.5rem;
        padding: 1rem;

        textarea {
          width: 100%;
        }

        label {
          padding-bottom: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
}
@media screen and (max-width: 40em) {
  body {
    background-color: lightgreen;

    section {
      max-width: 30em;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 40em) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;

    > section {
      margin: 0;
      padding: 2rem;
      position: relative;

      nav {
        ul {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  main {
    section {
      height: fit-content;
    }
  }
}
@media screen and (min-width: 55em) {
  body {
    grid-template-columns: 1fr 1fr 1fr;

    main {
      grid-column: 2 / 4;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (min-width: 79em) {
  body {
    grid-template-columns: repeat(4, 1fr);

    main {
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}